.heading {
    margin-top: 5rem;
}

.fav--episode {
    display: flex;
    column-gap: 1.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
}

.fav--image {
    width: 100px;
    height: 150px;
    border-radius: 9px;
    margin-bottom: 9px;
}

.loading--icon {
    display: flex;
    justify-content: center;
}
