.single-show{
    width: 100%;
}

.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
}

.show--image {
    width: 10rem;
    height: 10rem;
    border-radius: 9px;

}
.show--Title{
 margin-top: 1rem;
}

.details--container {
    width: 70%;
    padding-left: 1rem;
    padding-top: 0;
}

.episodes{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}

.episodeNum--Title {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.title{
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}
.episode--number{
    vertical-align: middle;
}
.description{
    text-align: center;
}

.episode--buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.season--form{
    display: flex;
justify-content: center;
    margin-top: 2rem;
    
}
.season--form  select {
    height: 2rem;
    width: 6rem
}

.season--details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}






.episode--details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.bold{
    font-weight: bold;
} 

@media only screen and (min-width: 1024px) {
    
.episodeNum--Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
}