.show--carousel {
    width: 100%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 10px;
    background-color: #1C2321;
    color: white;
    margin-bottom: 3rem;
    margin-top: 0;
}

.carousel--slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
   cursor: pointer;
}
.carousel--slide:hover {
    transform: scale(1.1);
}

.carousel--image {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.show-title {
    font-size: 20px;
    margin-bottom: 5px;
}

.show-seasons {
    font-size: 14px;
    color: #888;
}