.audio--player{
    min-width: 90%;
    height: 10rem;
    position: fixed;
    bottom: 0;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    background-color: #003EAB;
    transition: transform 0.3s ease;
    }
    
    
    .episode--title {
      font-size: 1rem;
      font-weight: 600;
    text-align: center;
    }
    
    .navigation--wrapper {
      min-width: 100%;
      background-color: rgba(119, 119, 119, 0.781);
      height: 5px;
      border-radius: 30px;
      cursor: pointer;
    }
    
    
      .seek-bar{
        width: 0;
        height: 100%;
        background-color: white;
        border-radius: 30px;
    }
    .time--progress{
      display: flex;
      justify-content: space-between;
    }
    .time--progress .time {
      font-size: 1rem;
      font-weight: bold;
    }
    
    .controls--wrapper{
      align-self: center;
    }

    .close--reset {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .reset {
      width: 5rem;
      height: 2rem;
      color: white;
      background-color: #008033;
      border: none;
    }

    @media only screen and (min-width: 768px) {
      .audio--player{
        width: 95%
      }
    }
      
      
      
    
      
     
      