.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc;
}
.filters label {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}

.filter--search{
    margin-left: 4rem;
    
}
.filter--search input{
    margin-bottom: 1rem;
background-color: transparent;
border: 1px solid #003EAB;
border-radius: 2rem;
height: 2rem
}
.filter--sort {
    margin-right: 4rem;
}

.shows-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 1.5rem;
    row-gap: 1rem;
    width: 100%;
    margin: 2rem auto;
    grid-auto-columns: 150px;
    
}

.button{
    display: flex;
    justify-content: center;
}